/* Base Rules of the page */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Header Styles */
.page__header {
    background: rgba(173, 173, 173, 0.74);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* The landing page heading styling */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}


/* the button styling */
#secAdder{
    font-size: 2em;
    margin: 0em 4rem 2em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:rgba(107, 107, 107, 0.349);
    border: 0px;
    color: #000;
    font-weight: bold;
    padding: 0.4em;
    cursor: pointer;
}

#secAdder span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#secAdder span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

/* the button (on hover) styling */
#secAdder:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#secAdder:hover span {
    padding-right: 25px;
}

#secAdder:hover span:after {
    opacity: 1;
    right: 0;
}

/*Back to top Button styling*/
#topButton{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-tap-highlight-color: transparent;
    position: fixed;
    bottom: 20px;
    right: 50%;
    z-index: 99;
    width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: #5de6de;
	background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
	border: none;
	border-radius: 50%;
	transition: 200ms;
    display: none;
}

#topButton svg {
	fill: white;
	width: 40px;
	height: 40px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

#topButton:before {
	content: 'To Top';
	position: absolute;
	transform: translateX(-50%) translateY(45px);
	font-size: 12px;
	transition: 200ms;
	color: transparent;
	font-weight: bold;
}

#topButton:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	width: 80px;
	height: 80px;
}

#topButton:hover::before {
	color: #fff;
}

#topButton:hover svg {
		animation: bounce 2s infinite linear;
}

@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-50%)}
	25% {transform: translateX(-50%) translateY(-65%)}
	50% {transform: translateX(-50%) translateY(-50%)}
	75% {transform: translateX(-50%) translateY(-35%)}
	100% {transform: translateX(-50%) translateY(-50%)}
}

#topbutton:focus {
	outline: none;
}


/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

/*sections layout*/
section {
    position: relative;
    min-height: 80vh;
}
/*sections' headers styling*/
h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}
/*sections' paragraphs styling*/
p {
    line-height: 1.6em;
    color: #eee;
}
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}
/* Section Active Styles (applied by js when section is in viewport */
.active-class {
    background: rgba(68, 0, 107, 0.377);
    background: linear-gradient(0deg, rgba(53, 3, 94, 0.199) 0%, rgba(12, 98, 196, 0.075) 100%);
}




/* NavBar Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navbar__menu li {
    display: inline-block;
}

/*sections' links decorations*/
a{
    text-decoration: none;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/*On hover links decoration*/
.navbar__menu .menu__link:hover {
    background: #333;
    font-weight:lighter;
    color: #fff;
    transition: ease 0.3s all;
}



/* Footer Styles */
.page__footer {
    background: #000;
    padding: 1em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */

/*Landing page heading in case the screen width is minimum of 35em*/
@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

/*Landing container section in case the screen's width is minimum of 35em*/
@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

/* makes the (even numbered sections) on the right */
section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */

.activelnk {
    font-weight:lighter;
    transition: ease 0.3s all;
    background: rgba(54, 0, 85, 0.377);
    background: linear-gradient(0deg, rgba(46, 2, 83, 0.521) 0%, rgba(6, 75, 153, 0.253) 100%);
}

section.active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		translate(-1em)
        rotate(0deg);
	}
	to {
		transform: rotate(360deg)
        translate(-1em) 
        rotate(-360deg);
	}
}

